h2{
    margin-top: 30px;
    margin-left: 20px;
}
.residencesList {
    display: grid;
    gap: 30px;
 
}

.residencesList img{
    width: 450px;
    height: 300px;
    object-fit: cover;
    margin-left: 0;
    margin-top: 20px;
    padding: 10px;
    margin-top: 10px;
    
}

.content{
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    /* align-items: flex-start; */
    align-items: center;
    height: 400px;

}
.details{
    display: flex;
    flex-direction: column;
    /* margin-right: 400px; */
    /* justify-content: flex-start; */
    justify-content: space-between;
    flex: 1;
}

.details h2{
    font-size: 18px;
}


@media(max-width: 480px){
    .residencesList img{
        height: 145px;
    }
    .content{
        padding: 8px;
    }
    .details h2{
        font-size: 16px;
    }
    .residencesList{
        gap: 20px;
    }
}

