.prop1{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    object-fit: cover;
    border-radius: 1px; 
}
.container{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding: 8px;
}
.large{
    flex: 1;
    display: flex;
    margin-left: 0px;
    min-width: 400px;
    border-radius: 1px;
    
}
.large img{
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
}

.prop1:hover{
    transform: scale(1.5);
}
.images{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: flex-start;
    gap: 2px;
    padding: 0;
}
.floor{
    width: 600px;
    margin-left: 20px;
}

/* CSS for maps */
.mapouter{
    position:relative;
    text-align:right;
    width:600px;
    height:400px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:600px;
    height:400px;
}
.gmap_iframe {
    width:600px!important;
    height:400px!important;
}

/* Favorites button */
.favorite-btn{
    border-radius: 2px;
    margin-left: 1000px;
    background-color: rgb(224, 240, 251);
}

.list h2{
    margin-top: -100px;
}
